/* Colors to be used */
:root {
    --color-background-light: #FFF2D8;
    --color-background-dark: #EAD7BB;

    --color-purple-light: #C3ACD0;
    --color-purple-dark: #674188;

    --color-pink-light: #FACBEA;
    --color-pink-dark: #B0578D;

    --color-green-light: #C8FFE0;
    --color-green-dark: #33BBC5;

    --color-text-light: #C2D9FF;
    --color-text-dark: #2A2F4F;
}

/* Overall document Syles */

body {
    background-color: var(--color-background-light);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navbar Styles */
#navbar {
    display: flex;
    padding: 1rem 2rem;
    background-color: var(--color-background-dark);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 -18px 34px 4px black;
}

.navbar_title {
    flex-basis: 55%;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    color: var(--color-text-dark);
}

.navbar_menu {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    flex-basis: 45%;
    list-style: none;
    font-weight: 400;
    color: var(--color-text-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

/* Filters Styles */
#filters {
    margin: 1.5rem 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid var(--color-pink-dark);
}

legend {
    color: var(--color-text-dark);
    font-size: 18px;
}

label {
    color: var(--color-text-dark);
}

input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1rem;
    height: 1rem;
    color: var(--color-pink-dark);
    border: 2px solid var(--color-pink-dark);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--color-pink-dark);
}

#container_indicator {
    width: 98.5%;
    margin-bottom: 1rem;
}

#container_country,
#container_years {
    display: inline-block;
    width: 49%;
}

#container_country > fieldset,
#container_years > fieldset {
    flex-wrap: wrap;
    height: 380px;
}

#container_generate {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.btn_generate_analysis,
.btn_generate_bubble,
.btn_generate_table,
.start_animation {
    padding: 0.75rem 1.75rem;
    color: var(--color-pink-light);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-pink-dark);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container_animation {
    text-align: end;
}

button[disabled] {
    cursor: none;
}

.start_animation {
    margin-right: 100px;
    margin-top: 20px;
}

/* Grafic Styles */
#analysis,
#bubble {
    padding: 2rem 1rem;
    height: 420px;
}

#table {
    padding: 2rem 1rem;
}

.analysis_title,
.bubble_title,
.table_title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text-dark);
    padding: 0 0 2rem 2rem;
}

.analysis_svg,
.bubble_chart_canvas,
.container_table {
    width: 100%;
    text-align: center;
}

.container_table {
    height: 420px;
}

.container_table > table {
    margin: auto;
}

#move_top {
    position: fixed;
    right: 1%;
    bottom: 1%;
}

.btn_move_top,
.go_to_filters,
.go_to_analysis,
.go_to_table,
.go_to_info,
.go_to_chart {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 12px;
    background-color: lightyellow;
    border: 1px solid #d4d4d4;
    pointer-events: none;
}

/* Footer Styles */
footer {
    width: 100%;
}

#footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    box-shadow: 0px 17px 34px 4px black;
}

#footer > div > span {
    font-size: 18px;
    font-weight: 600;
}

.info, .technologies {
    list-style: none;
    padding: 0;
}